.no-webp #hero {
  background: url('/images/bg--about.jpg') no-repeat center center fixed;
}

#hero {
  background: url('/images/bg--about.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  min-height: 300px;
  padding: 20px 0;
  align-items: center;
  overflow: hidden;
  position: relative;

  &.no-webp {
    background: url('/images/bg--about.jpg') no-repeat center center fixed !important;
  }

  .gradient--spacer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, transparent, white);
    z-index: 9999;
  }

  h2 {
    position: relative;
    z-index: 99;
    margin-left: 10%;
    margin-top: 120px;

    aside {
      font-weight: 300;
    }

    button {
      padding: 15px 70px;
    }
  }
}

#bigN, #bigW, #bigC {
  position: absolute;
  z-index: 9;
  font-size: 1500px;
  font-weight: 800;
  color: #000;
  opacity: 0.4;
}

#bigN {
  left: -280px;
  top: -1050px;
}

#bigW, #bigC {
  opacity: 0.03;
  left: -280px;
  top: -1050px;
}