#contactForm {
  background: #f2f2f2;
  padding: 75px 0;

  input {
    margin-right: 20px;
    padding: 15px;
    border: none;
    border-radius: 7px;
    width: 300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }

  button {
    background: linear-gradient(52deg, rgba(144,18,254,1) 0%, rgba(242,51,185,1) 100%);
    font-size: 16px;
    border-radius: 300px;
    padding: 12px 35px;
    color: #fff;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;
    margin: 20px 0;
    width: 300px;
    max-width: 100%;
    display: inline-block;
    clear: both;

    &:hover {
      background: rgb(144,18,254);
      box-shadow: 0 8px 28px rgba(0, 0, 0, 0.3);
    }
  }
}

.msg-alert p{
  display: inline-block;
  padding: 10px 30px;
  background: rgba(144,18,254,1);
  color: #fff !important;
  border-radius: 40px;
  font-size: 14px;
}