@import "~@nerds-with-charisma/nerds-style-sass/main.scss";

$marginBottom: 30px;

@import "./prism.scss";

@import './nwc-common.scss';
@import './header.scss';
@import './hero.scss';
@import './services.scss';
@import './portfolio.scss';
@import './about.scss';
@import './mobile.scss';
@import "./mailchimpStyles.scss";

html, #main, div[role="group"][tabindex], .tl-edges, .tl-wrapper {
  height: 100%;
}

body {
  height: 100% !important;
}

#___gatsby {
  background: url('/images/bg.png') no-repeat center center fixed;
  background-color: $primary;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#main {
  display: flex;
  flex-direction: column;
}

#container {
  flex: auto;

  h1 {
    display: flex;
    height: 30%;
    align-items: flex-end;
    margin-bottom: $marginBottom;
  }
}

.inline--block {
  display: inline-block;
}

.container {
  width: 92%;
}

p {
  line-height: 26px;
}

#appendix {
  line-height: 38px;

  a {
    display: block;
    position: relative;
    color: #505050;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    &:before {
      content: "";
      position: absolute;
      width: 100px;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $linksHover;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  h3 {
    font-weight: bold;
    color: #000;
    font-size: 18px;
    margin-top: 25px;
  }
}

#docs--nav {
  a {
    position: relative;
    color: #fff;

    &:before {
      content: "";
      position: absolute;
      width: 0px;
      height: 1px;
      bottom: -5px;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      width: 100px;
    }
  }
}

.cursor--pointer {
  cursor: pointer;
}

.bmc-button {
  float: right;
}

.bmc-button img{
  width: 27px !important;
  margin-bottom: 1px !important;
  border: none !important;
  vertical-align: middle !important;
}

.bmc-button{
  line-height: 36px !important;
  height:37px !important;
  text-decoration: none !important;
  display:inline-flex !important;
  color:#000000 !important;
  background-color:#FFFFFF !important;
  border-radius: 3px !important;
  border: 1px solid transparent !important;
  padding: 1px 9px !important;
  font-size: 22px !important;
  letter-spacing:0.6px !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) !important;
  margin: 0 auto !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
  font-weight: bold;
}

.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color:#000 !important;
}

.post--body {
  padding: 25px 0;
  margin-top: 25px;
  line-height: 28px;

  hr {
    width: 200px;
    margin: 35px auto;
  }

  strong {
    font-size: 21px;
  }

  p {
    font-size: 18px;
    line-height: 38px;
    color: #404040;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 25px;
  }

  a {
    border-bottom: 2px solid $linksHover;
    color: #000;
    font-weight: bold;

    &:hover {
      border-color: $cta;
    }
  }

  img {
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    margin: auto;
    display: block;
    margin-bottom: 45px;
    max-width: 1200px;
    width: 100%;
  }
}

.bulleted, .bulletetd {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  list-style: disc;
}

.nextBtn {
  position: absolute;
  right: 0;
  background: $primary;
  color: #fff !important;
  padding: 5px 15px;
  text-decoration: none;
  font-weight: normal !important;
  border-bottom: none !important;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  &:hover {
    background: $cta;
  }
}

#fourOhFour {
  background: url('/images/404.png') no-repeat center center fixed;
  background-color: $primary;
  background-size: cover;
  height: 100%;
  width: 100%;
}