@media only screen and (max-width: 900px) {
  #hero {
    h2 {
      font-size: 50px;
      line-height: 60px !important;
    }

    aside {
      line-height: 30px;
      font-size: 28px;
      margin: 25px 0 25px 10px
    }

    button {
      width: 93%;
    }
  }


  #portfolioContainer {
    overflow-y: scroll;
    padding-bottom: 150px;
    z-index: 99999999999;

    &.active .close {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      width: 100%;
      padding: 15px 0;
    }
  }
}