.masonry {
  display: flex;
  width: 100%;

  button {
    padding: 0;
    border: none;
  }
}

.masonry--h {
  flex-flow: row wrap;
}

.masonry--v {
  flex-flow: column wrap;
  max-height: 1080px;
}

.masonry--h,
.masonry--v {
  margin-left: -8px; /* Adjustment for the gutter */
  counter-reset: brick;
}

.masonry-brick {
  overflow: hidden;
  margin: 0;
  background-color: $primary;
  color: white;
  position: relative;
}

.masonry-brick--h {
  flex: auto;
  height: 300px;
  min-width: 150px;
}

@media only screen and (min-width: 1024px) {
  /* Horizontal masonry bricks on desktop-sized screen */
  .masonry-brick--h:nth-child(4n+1) {
    width: 250px;
  }
  .masonry-brick--h:nth-child(4n+2) {
    width: 325px;
  }

  /*
  .masonry-brick--h:nth-child(4n+3) {
    width: 180px;
  }

  .masonry-brick--h:nth-child(4n+4) {
    width: 380px;
  }
  */

  /* Adjusting vertical masonry height on desktop-sized screen */
  .masonry--v {
    max-height: 1600px;
  }

  /* Vertical masonry bricks on desktop-sized screen */
  .masonry-brick--v {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  /* Horizontal masonry bricks on tabled-sized screen */
  .masonry-brick--h:nth-child(4n+1) {
    width: 200px;
  }
  .masonry-brick--h:nth-child(4n+2) {
    width: 250px;
  }
  .masonry-brick--h:nth-child(4n+3) {
    width: 120px;
  }
  .masonry-brick--h:nth-child(4n+4) {
    width: 280px;
  }

  /* Adjusting vertical masonry height on tablet-sized screen */
  .masonry--v {
    max-height: 2000px;
  }

  /* Vertical masonry bricks on tablet-sized screen */
  .masonry-brick--v {
    width: 50%;
  }
}

.masonry-img, .masonry button {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.4;
    // filter: brightness(50%);
  }
}


#portfolioContainer {
  position: fixed;
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  background: $light;
  transition: all 0.3s linear;
  overflow: scroll;
  z-index: 999999999;

  &.active {
    top: 0;
  }

  .grid {
    padding-top: 95px;
  }

  .close {
    position: absolute;
    right: 45px;
    top: 15px;
    border: none;
    color: #000;
    font-size: 4rem;
    z-index: 999;
  }

  a {
      background: linear-gradient(52deg, rgba(144,18,254,1) 0%, rgba(242,51,185,1) 100%);
      font-size: 21px;
      border-radius: 300px;
      padding: 12px 35px;
      color: #fff;
      font-weight: bold;
      border: none;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      transition: all 0.3s linear;
      margin: 20px 0;
      width: 80%;
      max-width: 100%;
      display: inline-block;
      clear: both;

      &:hover {
        background: rgb(144,18,254);
        box-shadow: 0 8px 28px rgba(0, 0, 0, 0.3);
      }
    }
}


#portfolioItem--hero {
  position: relative;
  height: 700px;
  overflow: hidden;
  line-height: 700px;

  img {
    max-width: inherit;
  }

  h2 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: $light;
    font-size: 6em;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  #portfolioContainer {
    .container-md {
      width: 100% !important;
    }

    h2 {
      line-height: 1.5em;
      margin-top: 150px;
      font-size: 70px;
    }

    .grid {
      width: 98%;
      margin: auto;
    }
  }
}