pre {
  font-family: operator mono ssm a,operator mono ssm b,operator mono,source code pro,Menlo,Consolas,Monaco,monospace;
  clear: both;
  color: #fff;
  background: rgba(32,28,41, .75);
  padding: 0;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -ms-word-break: normal;
  word-break: normal;
  word-break: normal;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  position: relative;
  line-height: 28px;
  border-radius: 8px;
  min-width: 100px;
  max-width: 100%;
  overflow: hidden
}

pre[rel] {
  padding-top: 20px
}

pre[rel]::before {
  font-family: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,Sans-Serif;
  font-weight: 700;
  font-size: 12px;
  content: attr(rel);
  color: #fff;
  position: absolute;
  top: .33rem;
  left: .52rem;
  width: 100%;
  padding: 0
}

pre[rel=CSS]::before,pre[rel=SCSS]::before {
  color: #ff8a00
}

pre[rel=HTML]::before {
  color: #4caf50
}

pre[rel=JSX]::before,pre[rel=JavaScript]::before,pre[rel=jQuery]::before {
  color: #03a9f4
}

pre code {
  font-size: 18px;
  line-height: 1.75;
  background: 0 0;
  padding: 0px;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  scrollbar-color: #666;
  scrollbar-width: .5em
}

pre code::-webkit-scrollbar {
  width: .5em;
  height: .5em
}

pre code::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: .5em;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255,255,255, .25),inset -2px -2px 2px rgba(0,0,0, .25);
  box-shadow: inset 2px 2px 2px rgba(255,255,255, .25),inset -2px -2px 2px rgba(0,0,0, .25)
}

pre code::-webkit-scrollbar-track {
  background: linear-gradient(to right,#201c29,#201c29 1px,none 1px,none)
}

code {
  font-family: operator mono ssm a,operator mono ssm b,operator mono,source code pro,Menlo,Consolas,Monaco,monospace
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  line-height: inherit;
  padding: inherit 0;
  margin-top: 50px;
  background: -webkit-gradient(linear,left top,right top,color-stop(50%,rgba(255,235,59, .25)),to(rgba(255,235,59,0)));
  background: linear-gradient(to right,rgba(255,235,59, .25) 50%,rgba(255,235,59,0));
  pointer-events: none;
  white-space: pre;
  mix-blend-mode: color-dodge;
}

.token.cdata, .token.comment, .token.doctype, .token.prolog {
  color: #5e7671;
  font-style: italic;
}

.token.property, .token.punctuation, .token.tag {
  color: #d2ff52;
}

.token.attr-name {
  color: #F20028;
}

.token.boolean, .token.number {
  color: #fc9463;
}

.token.attr-value, .token.selector {
  color: #85DD33;
}

.token.entity, .token.operator, .token.url, .token.variable {
  color: #02e2ca;
}

.token.atrule, .token.keyword, .token.string {
  color: #9012FE;
}

.token.important, .token.regex {
  color: #e90;
}

.language-css, .language-javascript, .language-scss {
  color: #fff;
}

.language-terminal {
  color: #d7d7d7;
}

pre {
  background: #001628;
}

pre[rel]::before {
  font-family: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,Sans-Serif;
  font-weight: 700;
  font-size: 12px;
  content: attr(rel);
  color: #fff;
  position: absolute;
  top: .33rem;
  left: .52rem;
  width: 100%;
  padding: 0;
}

pre[rel=CSS]::before,pre[rel=SCSS]::before, pre[rel=HTML]::before, pre[rel=JSX]::before,pre[rel=JavaScript]::before,pre[rel=jQuery]::before {
  color: $linksHover;
  font-size: 14px;
  width: 98%;
  text-align: right;
}

.gatsby-highlight-code-line {
  background-color: #feb;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;
}